.footer {
  background: #E1E5FE;
}

.footer_wrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  padding: 0px 15px;
  box-sizing: border-box;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;

  .msg_link {
    height: min-content;
    margin: 18px 0;
  }

  .number-link {
    margin: 18px 0;
  }
}

.footer_logo {
  margin: 18px 0;
}

.footer_contact {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.footer_contact-item {
  list-style-type: none;
  margin: 18px 0;

  a {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #4F4F4F;
    padding: 0 20px;
  }
}


.footer_copyrights {
  background: #4C76FF;
  padding: 12px 0;
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;

  color: #FFFFFF;
}