.nav {
  margin-left: auto;
  margin-right: 60px;

  @include pretablet() {
    position: absolute;
    z-index: 888;
    bottom: -295px;
    left: 0;
    right: 0;
    margin: 0;
    pointer-events: none;
  }
}

.nav_list {
  padding: 0;
  margin: 0;
  display: flex;

  @include pretablet() {
    flex-direction: column;
  }
}

.nav_list-item {
  list-style-type: none;

}

.nav_list-item:nth-child(1) {
  @include pretablet() {
    transform: translateX(-1250px);
    transition: 0.6s
  }
}

.nav_list-item:nth-child(2) {
  @include pretablet() {
    transform: translateX(-1300px);
    transition: 0.5s
  }
}

.nav_list-item:nth-child(3) {
  @include pretablet() {
    transform: translateX(-1350px);
    transition: 0.4s
  }
}

.nav_list-item:nth-child(4) {
  @include pretablet() {
    transform: translateX(-1400px);
    transition: 0.3s
  }
}

.nav_list-item:nth-child(5) {
  @include pretablet() {
    transform: translateX(-1450px);
    transition: 0.2s
  }
}

.nav_item-link {
  text-decoration: none;
  color: #4F4F4F;
  padding: 0 40px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  transition: 0.3s;

  @include laptop() {
    padding: 0 20px;
  }

  @include pretablet() {
    display: block;
    text-align: center;
    padding: 20px 0;
    background-color: #fff;
    border-bottom: 1px solid #e0dede;
  }
}

.nav_item-link:hover {
  color: #FFB127;
}

.nav--active {
  pointer-events: all;

  .nav_list-item:nth-child(1) {
    transform: translateX(0px);
    transition: 0.3s;
  }

  .nav_list-item:nth-child(2) {
    transform: translateX(0px);
    transition: 0.5s;
  }

  .nav_list-item:nth-child(3) {
    transform: translateX(0px);
    transition: 0.7s;
  }

  .nav_list-item:nth-child(4) {
    transform: translateX(0px);
    transition: 0.9s;
  }

  .nav_list-item:nth-child(5) {
    transform: translateX(0px);
    transition: 1.1s;
  }
}