.price_wrap {
  max-width: 1400px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
}

.price_content {
  display: flex;
}

.price_content-img {
  width: 50%;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.price_content-tabs {
  width: 50%;
}

.price_tabs-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  background: #F6F6FD;
  border-radius: 10px;
  margin-bottom: 45px;
  overflow: hidden;
}

.price_tabs-item {
  list-style-type: none;
  width: 25%;
  display: flex;
  padding: 18px 40px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-family: 'ApercuPro-Medium';
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  color: #333333;
  border: 1px solid #DBDBFF;
  border-top-color: transparent;
  transition: 0.3s;
}

.price_tabs-item:hover {
  background: #E1E5FE;
}

.price_tabs-item--active {
  background: #4C76FF;
  color: #FFFFFF;
}

.price_tabs-item--active:hover {
  background: #4C76FF;
  color: #FFFFFF;
}

.price_tabs-item:nth-child(1),
.price_tabs-item:nth-child(5) {
  border-left-color: transparent;
}

.price_tabs-item:nth-child(4),
.price_tabs-item:nth-child(8) {
  border-right: transparent;
}

.price_tabs-item:nth-child(5),
.price_tabs-item:nth-child(6),
.price_tabs-item:nth-child(7),
.price_tabs-item:nth-child(8) {
  border-bottom-color: transparent;
}



.price_tabs-content {
  padding: 0;
  margin: 0;
}

.price_tabs-content-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #F6F6FD;
  margin-bottom: 27px;
}

.price_content-item-img {
  margin-right: 30px;
}

.price_content-item-text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  max-width: 400px;
  color: #4F4F4F;
}

.price_content-item-price {
  font-family: 'ApercuPro-Medium';
  font-size: 20px;
  line-height: 25px;
  padding: 5px 10px;
  border: 1px solid #FFB127;
  border-radius: 5px;
  color: #1D1D1B;
  margin-left: auto;
}