.services_wrap {
  max-width: 1400px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
}

.services_description {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 145%;
  /* or 26px */

  margin-bottom: 50px;
  color: #000000;

  @include pretablet() {
    text-align: center;
  }
}

.services_list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.services_item {
  list-style-type: none;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  max-width: 370px;
  min-width: 360px;
  margin-bottom: 50px;
  border-radius: 5px;
  transition: 0.3s;

  @include mintablet() {
    max-width: 100%;
  }

}

.services_item:hover {
  box-shadow: 0px 7px 15px rgba(0, 42, 179, 0.25);
  transform: translateY(-5px);
}

.services_item-img {
  margin-right: 14px;
}

.services_content-title {
  font-family: 'ApercuPro-Medium';
  font-size: 20px;
  line-height: 20px;
  /* identical to box height */

  margin-bottom: 10px;
  color: #333333;
}

.services_content-text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  /* or 23px */


  color: #9596B2;
}