@font-face {
    font-family: 'ApercuPro-Bold';
    src: url('../fonts/ApercuPro-Bold.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ApercuPro-Medium';
    src: url('../fonts/ApercuPro-Medium.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.woff');
    font-weight: normal;
    font-style: normal;
}